@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes glow {
    0% { box-shadow: 0 0 5px white; }
    50% { box-shadow: 0 0 20px yellow; }
    100% { box-shadow: 0 0 5px white; }
  }
  
  .special-symbol {
    animation: glow 1s infinite alternate;
  }
  